
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-bottom: 50px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px;
    color: black;
}

.logo img {
    position: absolute;
    left: 20px; 
    top: 20px;
    height: 50px; 
}

.cart {
    display: flex;
    align-items: center;
}

.cart img {
    margin-right: 10px;
    height: 50px; 
}

.cart h2 {
    margin-right: 10px;
    font-size: 18px;
}


.producto-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}

.producto {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto img {
    background-color: #e0e0e0; 
    width: 40%; 
    height: 150px; 
    object-fit: cover;
    margin-bottom: 10px;
}

.producto h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.producto p {
    font-size: 16px;
    margin-bottom: 10px;
}

button.carrito {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button.carrito:hover {
    background-color: darkorange;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin-left: 500px;
}

footer img {
    width: 10px;
    height: 10px;
    margin: 0 10px;
}

footer .social-icons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


@media (max-width: 768px) {
    .producto-lista {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    .producto-lista {
        grid-template-columns: 1fr; 
    }
}
